<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
 <head> 
  <title>PlayFair</title> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="css/bootstrap.min.css"> 
  <link rel="stylesheet" href="css/widget.css"> 
  <link rel="stylesheet" href="../theme/theme.css"> 
  <script src="js/vendor.min.js"></script> 
  <script src="js/runtime.min.js"></script> 
  <!-- assets attached to the page --> 
  <!-- widget need to be injected at runtime --> 
  <script src="widgets/pbTitle/pbTitle.js"></script> 
  <script src="widgets/pbText/pbText.js"></script> 
  <script src="widgets/pbInput/pbInput.js"></script> 
  <script src="widgets/pbButton/pbButton.js"></script> 
  <script src="widgets/pbTable/pbTable.js"></script> 
 </head> 
 <body ng-app="bonitasoft.ui" pb-model="4d2cc128-799e-4014-a8b2-0de6697b6059"> 
  <div class="container-fluid"> 
   <div class="row"> 
    <div pb-property-values="60b464f7-ed99-44e7-af3b-11c13d8b4a69"> 
     <div class="col-xs-12" ng-class="properties.cssClasses" ng-if="!properties.hidden"> 
      <div class="row"> 
       <div pb-property-values="5ab9cdde-514a-49d1-a255-8c830650850b"> 
        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses"> 
         <pb-title></pb-title> 
        </div> 
       </div> 
      </div> 
      <div class="row"> 
       <div pb-property-values="2771770e-6e2a-4ace-8b4c-6ecb2a2c1bce"> 
        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses"> 
         <pb-input></pb-input> 
        </div> 
       </div> 
      </div> 
      <div class="row"> 
       <div pb-property-values="6cc07e16-6081-4d3d-bf86-a084a0b5a720"> 
        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses"> 
         <pb-input></pb-input> 
        </div> 
       </div> 
      </div> 
      <div class="row"> 
       <div pb-property-values="e0952e1d-acb7-4f9c-97fc-7313f0cb7f0a"> 
        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses"> 
         <pb-button></pb-button> 
        </div> 
       </div> 
      </div> 
      <div class="row"> 
       <div pb-property-values="54d65f65-4f67-48e0-8a99-72e0852df696"> 
        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses"> 
         <pb-text></pb-text> 
        </div> 
       </div> 
      </div> 
      <div class="row"> 
       <div pb-property-values="1fec8845-ba30-407f-b02e-90ad137a9f64"> 
        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses"> 
         <pb-table></pb-table> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <script>angular.module('bonitasoft.ui.services').factory('dataModelFactory', function() {
  var resources = {};
  resources['4d2cc128-799e-4014-a8b2-0de6697b6059'] =  {};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
   <script>angular.module('bonitasoft.ui.services').factory('modelPropertiesFactory', function() {
  var resources = {};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
   <script>angular.module('bonitasoft.ui.services').factory('propertyValuesFactory', function() {
  var resources = {};
  resources['1fec8845-ba30-407f-b02e-90ad137a9f64'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"headers":{"type":"constant","value":["Texte","clé"]},"content":{"type":"constant","value":null},"columnsKey":{"type":"constant","value":["Texte","clé"]},"selectedRow":{"type":"variable","value":null}};
  resources['60b464f7-ed99-44e7-af3b-11c13d8b4a69'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"repeatedCollection":{"type":"variable","value":null}};
  resources['5ab9cdde-514a-49d1-a255-8c830650850b'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"text":{"type":"interpolation","value":"Cryptanlyse PlayFair"},"level":{"type":"constant","value":"Level 2"},"alignment":{"type":"constant","value":"center"}};
  resources['54d65f65-4f67-48e0-8a99-72e0852df696'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"text":{"type":"interpolation","value":"Le texte clair peut être :"},"alignment":{"type":"constant","value":"left"}};
  resources['2771770e-6e2a-4ace-8b4c-6ecb2a2c1bce'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"required":{"type":"constant","value":false},"minLength":{"type":"constant","value":""},"maxLength":{"type":"constant","value":""},"readOnly":{"type":"constant","value":false},"labelHidden":{"type":"constant","value":false},"label":{"type":"interpolation","value":"Saisir le texte à attaqué :"},"labelPosition":{"type":"constant","value":"top"},"labelWidth":{"type":"constant","value":4},"placeholder":{"type":"interpolation","value":"ex: YLALACTA"},"value":{"type":"variable","value":null},"type":{"type":"constant","value":"text"},"min":{"type":"constant","value":null},"max":{"type":"constant","value":null},"step":{"type":"constant","value":1}};
  resources['6cc07e16-6081-4d3d-bf86-a084a0b5a720'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"required":{"type":"constant","value":false},"minLength":{"type":"constant","value":""},"maxLength":{"type":"constant","value":""},"readOnly":{"type":"constant","value":false},"labelHidden":{"type":"constant","value":false},"label":{"type":"interpolation","value":"Vous pouvez saisir un mot du texte clair pour faciliter la recherche du résultat :"},"labelPosition":{"type":"constant","value":"top"},"labelWidth":{"type":"constant","value":4},"placeholder":{"type":"interpolation","value":null},"value":{"type":"variable","value":null},"type":{"type":"constant","value":"text"},"min":{"type":"constant","value":null},"max":{"type":"constant","value":null},"step":{"type":"constant","value":1}};
  resources['e0952e1d-acb7-4f9c-97fc-7313f0cb7f0a'] =  {"cssClasses":{"type":"constant","value":""},"hidden":{"type":"constant","value":false},"disabled":{"type":"constant","value":false},"label":{"type":"interpolation","value":"Submit"},"alignment":{"type":"constant","value":"center"},"buttonStyle":{"type":"constant","value":"primary"},"action":{"type":"constant","value":"Submit task"},"url":{"type":"interpolation","value":null},"dataToSend":{"type":"constant","value":null},"dataFromSuccess":{"type":"variable","value":null},"dataFromError":{"type":"variable","value":null},"targetUrlOnSuccess":{"type":"interpolation","value":null},"collectionToModify":{"type":"variable","value":null},"collectionPosition":{"type":"constant","value":"Last"},"valueToAdd":{"type":"constant","value":null},"removeItem":{"type":"variable","value":null}};
  return {
    get: function(uuid) {
      return resources[uuid];
    }
  };
});
</script> 
  </div>   
 </body>
</html>